<!-- <div class="ContenedorMenu">
    <header>
        <div class="logoG">
            <h1 class="logo">Smylife</h1>
            <img id="imagenPaso" src="Imagenes/logo" alt="">
        </div>
        <li  routerLink="./Inicio" routerLinkActive="active"> Inicio</li>
        <li  routerLink="./SobreNosotros" routerLinkActive="active">Sobre Nosotros</li>
        <li  routerLink="./Tratamientos" routerLinkActive="active">Tratamientos</li>
        <li  routerLink="./Galeria" routerLinkActive="active">Galería</li>
        <li  routerLink="./HazTuCita" routerLinkActive="active">Haz tu cita</li>
        <li  routerLink="./Registrate" routerLinkActive="active">Registrate</li>
    </header>
</div>
-->
<!-- <img id="imagenPaso" src="Imagenes/logo" alt=""> -->

<app-menu></app-menu>
<router-outlet></router-outlet> 
<app-footer></app-footer>

