<section>
    <div class="inicio-container">
        <div class="contenido-container">
          <h1>Una gran sonrisa empieza por un gran dentista</h1>
          <button class="reservar-btn">Reservar una cita</button>
        </div>
        <div class="logo-container">
          <img src="https://us.123rf.com/450wm/hamdesain/hamdesain2001/hamdesain200100113/138648907-vector-de-dise%C3%B1o-de-logotipo-de-cl%C3%ADnica-dental.jpg" alt="Logo del consultorio">
        </div>
      </div>
</section>
<section class="ColorSeccion">
    <div class="pasos">
        <h1 class="letraPequeñaPasos">FÁCIL, PROFESIONAL Y CON CUIDADO</h1>
        <h2 class="tituloPasos">4 pasos fáciles para ti</h2>
        <div class="contenedorImagenesPasos">
            <div class="paso" id="paso1">
                <img id="imagenPaso"src="https://cdn-icons-png.flaticon.com/256/757/757576.png" alt="">
                <h1 class="tituloPaso">Contactanos</h1>
                <p class="parrafoPaso">Sabemos que somos la mejor, conócenos y quita tus dudas</p>
            </div>
            <div class="paso" id="paso2">
                <img id="imagenPaso" src="https://cdn-icons-png.flaticon.com/512/430/430094.png" alt="">
                <h1 class="tituloPaso">Platícanos</h1>
                <p class="parrafoPaso">Te hacemos algunas preguntas para saber la mejor solución</p>
            </div>
            <div class="paso" id="paso3">
                <img id="imagenPaso" src="https://cdn-icons-png.flaticon.com/512/126/126790.png" alt="">
                <h1 class="tituloPaso">Agenda</h1>
                <p class="parrafoPaso">Programamos tu valoración SIN COSTO</p>
            </div>
            <div class="paso" id="paso4">
                <img id="imagenPaso"src="https://cdn-icons-png.flaticon.com/512/2519/2519434.png" alt="">
                <h1 class="tituloPaso">Solución</h1>
                <p class="parrafoPaso">Te damos un gran precio y plazos hasta de 12 meses para tu tratamiento</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="nosotros">
        <h1 class="tituloNosotros">Nosotros</h1>
        <p id="parrafoNosotros">Desde el 2015 en Smylife México nos hemos caracterizado por brindar servicios personalizados hacia todos nuestros pacientes, 
        contando, además, con una excelente ubicación en Parque Kent #136 Colinas del Parque en la ciudad de San Luis Potosí, S.L.P.
        En Smylife contamos con algunos de los mejores especialistas de la ciudad, además de facilidades de pago y planes financiados.
        </p>
        <div class="contenedorImagenesDoctores">
            <div class="doctor">
                <img id="imagenDoctor"src="https://www.shutterstock.com/image-photo/profile-photo-attractive-family-doc-600nw-1724693776.jpg" alt="">
            </div>
            <div class="doctor">
                <img id="imagenDoctor" src="https://www.shutterstock.com/image-photo/man-portrait-doctor-white-coat-600nw-2280796707.jpg" alt="">
            </div>
            <div class="doctor">
                <img id="imagenDoctor" src="https://img.freepik.com/foto-gratis/doctor-brazos-cruzados-sobre-fondo-blanco_1368-5790.jpg" alt="">
            </div>
            <div class="doctor">
                <img id="imagenDoctor"src="https://img.freepik.com/fotos-premium/doctora-bata-medica-blanca-estetoscopio-tomando-notas-pie-portapapeles_2221-9759.jpg" alt="">
            </div>
        </div>
        <div class="contenedorBotonNosotros">
            <div>
                <button class="contenedorBotonNosotros2">
                    <a id="letrabotonNosotros"href="./SobreNosotros.html">Nuestra formacion y experiencia</a>
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="Tratamientos">
        <h1 class="tituloTratamientos">Nuestros servicios</h1>
        <div class="tratamientos1">
            <div class="t1">
                <img id="imagent1"src="https://cdn-icons-png.flaticon.com/512/2818/2818311.png" alt="">
                <h1 class="tituloTratamientos1">Blanqueamiento</h1>
                <p class="parrafosTratamientos"> Tratamiento de estética dental que se aplica a los dientes oscurecidos, 
                    por la pérdida de la capa de esmalte.
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./blanqueamiento.html">Más info</a>
                </button>
            </div>
            <div class="t1">
                <img id="imagent1"src="https://cdn-icons-png.flaticon.com/512/12154/12154478.png" alt="">
                <h1 class="tituloTratamientos1">Brackets</h1>
                <p class="parrafosTratamientos"> Aparatos fijos que se utilizan  para corregir los defectos 
                    en la forma, posición, relación y función de los dientes y los maxilares, la cara 
                    y los trastornos funcionales de la masticación.
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./brackets.html">Más info</a>
                </button>
            </div>
            <div class="t1">
                <img id="imagent1"src="https://cdn-icons-png.flaticon.com/512/8800/8800732.png" alt="">
                <h1 class="tituloTratamientos1">Endodoncia</h1>
                <p class="parrafosTratamientos">Procedimiento que tiene como finalidad preservar las piezas dentales dañadas
                    evitando así su pérdida.
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./endodoncia.html">Más info</a>
                </button>
            </div>
        </div>
        <div class="tratamientos2">
            <div class="t2">
                <img id="imagent2"src="https://cdn-icons-png.flaticon.com/512/993/993248.png" alt="">
                <h1 class="tituloTratamientos1">Implante</h1>
                <p class="parrafosTratamientos">Dispositivo de metal que se coloca mediante cirugía en el hueso de la mandíbula.
                    Actúa como un ancla para fijar uno o más dientes postizos.
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./implantes.html">Más info</a>
                </button>
            </div>
            <div class="t2">
                <img id="imagent2" src="https://cdn-icons-png.flaticon.com/512/1707/1707502.png" alt="">
                <h1 class="tituloTratamientos1">Periodoncia</h1>
                <p class="parrafosTratamientos">Estudio, prevención y tratamiento de aquellas patologías que afectan a los 
                    tejidos que protegen, rodean y sujetan los dientes
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./periodoncia.html">Más info</a>
                </button>
            </div>
            <div class="t2">
                <img id="imagent2" src="https://cdn-icons-png.flaticon.com/512/5710/5710561.png" alt="">
                <h1 class="tituloTratamientos1">Prevención</h1>
                <p class="parrafosTratamientos">Cuidado dental que ayuda a mantener una buena salud oral. 
                    Una combinación de chequeos dentales regulares y el desarrollo de buenos hábitos.
                </p>
                <button class="botonTratamientos">
                    <a id="letrabotonTratamientos"href="./prevencion.html">Más info</a>
                </button>
            </div>
        </div>
    </div>
</section>